<h3>Project: <%= @job.title %></h3>
    
<table class="jobposts" summary="User jobposts">
  <tr>
        <td class="jobpost">          
          <span class="location"><strong>Location: </strong>
                                  <%= @job.location %></span>

          <span class="poster"><strong>Posted by: </strong>
                             <%= link_to @job.user.name,
                                           @job.user %>
          </span>

          <span class="work_type"><strong>Work Type: </strong>
                      <%= @job.work_type %></span>

          <span class="max_budget"><strong>Max Bid: </strong>$
                      <%= @job.max_budget %></span>

          <span class="overtime"><strong>Pays Overtime: </strong>
                      <%= @job.overtime ? "Yes" : "No" %>
          </span>
        </td>
        <td class="jobpost">
          <span class="start_date"><strong>Start Date:  </strong>
                      <%= @job.start_date ?
                      @job.start_date.strftime("%a, %b. %d, %Y") : "" %>
          </span>

          <span class="duration"><strong>Project Duration: </strong>
                      <%= @job.duration %> weeks
          </span>

          <span class="work_intensity"><strong>Intensity: </strong>
                      <%= @job.work_intensity %> hours per week
          </span>

          <span class="skills"><strong>Skills Sought: </strong>
                      <%= @job.skills %></span>

          <span class="timestamp">Posted
                <%= time_ago_in_words(@job.created_at) %> ago.
          </span>
        </td>
      </tr>
</table>

<table class="jobposts" summary="User jobposts">
  <tr>
        <td class="jobpost">
          <span class="description">
            <strong>Description: </strong><%= @job.description %>
          </span>
        </td>
  </table>

<% if signed_in? %>
  <div class="place_bid">
          <h3 class="micropost">Apply For This Project</h3>
          <%#= render 'shared/bidpost_form' %>
          <%= render 'shared/apply_for_job_form' %>
  </div>

    <% if @job.user_id == current_user.id %>

      <center><h3><a href="<%= winners_jobpost_path(params[:id]) %>">
          Finished Building My Team </a></h3>
      </center>

<h3>Current Bids</h3>    

      <%= sort_link @sortbidders, :name %> |
      <%= sort_link @sortbidders, :bids_amount %> |
      <%= sort_link @sortbidders, :location %> |
      <%= sort_link @sortbidders, :rating %> |
      <%= sort_link @sortbidders, :jobs_completed %></br>

    <% if @bidders.any? %>
      <div class="bidfeed">
      <%= render :partial => 'shared/bidder', :collection => @bidders %><br/>
      <%#= render :partial => 'shared/bidfeed_item', :collection => @bidfeed_items %>
      </div>
    <% else %>
          <div class="bidfeed">
          <span class="no_results">
            <p>We're sorry but there are no results.</p>
          </span>
        </div>
    <% end %>

      <div class="user_searchbox round">
        <%= render 'shared/bidsearch' %>
      </div>
      <%= will_paginate @bidders %>


                  <% if current_user?(@job.user) %>
         <br/>
                      <%= link_to "Delete Post", @job, :method => :delete,
                                                       :confirm => "You sure?",
                                                       :title => @job.title %>
                  <% end %>
    <% end %>

<% else %>

    <center><h3>
        Please <%= link_to "sign-up", signup_path %> or
               <%= link_to "sign-in", signin_path %> to bid on this project.
    </h3></center> <br/>
<% end %>