<table class "profile" summary="Profile Information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<%= render 'follow_form' if signed_in? %>
                        <table class "userprofile" summary="user profile">
			<%= render 'user_profile' %>
                        </table>

                        <% if @user.jobposts.any? %>
				<table class="jobposts" summary="User jobposts"> 
					<%= render @jobposts %>

				</table>
				<%= will_paginate @jobposts %>
			<% end %>

			<% if @user.microposts.any? %>
				<table class="microposts" summary="User microposts"> 
					<%= render @microposts %>
					<!-- remember that render requires a _partial.html.erb -->
				</table>
				<%= will_paginate @microposts %>
			<% end %>
			
		</td>	
	</tr>
</table>


