<table class "profile" summary="Profile Information">
	<tr>
		<td class="main">
			<h1> 
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<%= render 'follow_form' if signed_in? %>


			<% if @user.jobposts.any? %>
				<table class="jobposts" summary="User jobposts"> 
					<%= render @jobposts %>

				</table>
				<%= will_paginate @jobposts %>
			<% end %>

			<% if @user.microposts.any? %>
				<table class="microposts" summary="User microposts"> 
					<%= render @microposts %>
					<!-- remember that render requires a _partial.html.erb -->
				</table>
				<%= will_paginate @microposts %>
			<% end %>
			
		</td>
		
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %> <br />
			<strong>URL</strong>  <%= link_to user_path(@user), @user %> <br />
			<strong>Number of Projects</strong> <%= @user.jobposts.count %>
			<strong>Microposts</strong> <%= @user.microposts.count %>
			<%= render 'shared/stats' %>
		</td>
		
	</tr>
</table>


