<% if @jobfeed_items.any? %>

  <% form_for :search, @search, :html => {:method => :get} do |f| %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
      
        <%= f.label :title_contains, "Title" %>
        <%= f.text_field :title_contains %> <br />
      
        <%= f.label :location_contains, "Location" %>
        <%= f.text_field :location_contains %><br />

        <%= f.label :poster_contains, "Posted by" %>
        <%= f.text_field :poster_contains %><br />

        <%= f.label :max_budget_gte, "Budget From" %>
        <%= f.text_field :max_budget_gte, :size => 4 %>
        <%= f.label :max_budget_lte, "to" %>
        <%= f.text_field :max_budget_lte, :size => 4 %><br />

        <%= f.label :description_contains, "Description" %>
        <%= f.text_field :description_contains %><br />

        <%= f.label :title_or_location_or_poster_or_description_contains, "Any Keyword" %>
        <%= f.text_field :title_or_location_or_poster_or_description_contains %><br />

      <p class="button"><%= f.submit "Search" %></p>
  <% end %>

     <div id="jq_jobfeed">
      <table class="sort_jobs">
          <tr>
            <td>Sort By:</td>
            <td><%= sort_link @search, :title, "Title" %></td>
            <td><%= sort_link @search, :location, "Location" %></td>
            <td><%= sort_link @search, :poster, "Posted By" %></td>
            <td><%= sort_link @search, :work_type, "Work Type" %></td>
            <td><%= sort_link @search, :max_budget, "Max Bid" %></td>
            <td><%= sort_link @search, :timeframe, "Duration" %></td>
            <td><%= sort_link @search, :skills, "Skills" %></td>
            <td><%= sort_link @search, :created_at, "Posted Date" %></td>
          </tr>
      </table>
     </div>

  <table class="jobposts" summary="User jobposts">
    <%= render :partial => 'shared/jobfeed_item', :collection => @jobfeed_items %>
  </table>
  
  <%= will_paginate @jobfeed_items %>

<% else %>
  
  <% form_for :search, @search, :html => {:method => :get} do |f| %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>

        <%= f.label :title_contains, "Title" %>
        <%= f.text_field :title_contains %> <br />

        <%= f.label :location_contains, "Location" %>
        <%= f.text_field :location_contains %><br />

        <%= f.label :poster_contains, "Posted by" %>
        <%= f.text_field :poster_contains %><br />

        <%= f.label :max_budget_gte, "Budget From" %>
        <%= f.text_field :max_budget_gte, :size => 4 %>
        <%= f.label :max_budget_lte, "to" %>
        <%= f.text_field :max_budget_lte, :size => 4 %><br />

        <%= f.label :description_contains, "Description" %>
        <%= f.text_field :description_contains %><br />

        <%= f.label :title_or_location_or_poster_or_description_contains, "Any Keyword" %>
        <%= f.text_field :title_or_location_or_poster_or_description_contains %><br />

      <p class="button"><%= f.submit "Search" %></p>
  <% end %>

        <p>
          We're sorry but there are no results.
        </p>
  

<% end %>