<!DOCTYPE html>
<html>
  <head>
  	<title> <%= title %> </title>
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
  </head>

  <body>
	<div class="container">
		<%= render 'layouts/header' %>

		<section class="round">
			<% flash.each do |key, value| %>  
				<div class="flash <%= key %>"><%= value %></div>
			<!-- no =% on flash because iterating through Ruby, i.e., "script"-->
			<!-- yes =% on key and value because interpolating variables -->
			<!-- n.b. key within "flash " so we can style different key msg -->
			<% end %>
			
			<%= yield %>
		</section>
		
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
		
	</div>
  </body>
</html>